body{
    background-color: aquamarine;
}
.container-primary{
    background-color: blueviolet;
    width: 1250px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
p {
    font-size: 48px;
}

/* Working with mediaqueries */
@media (min-width: 800px) and (max-width: 1200px){
    body{
        background-color: gray;
    }
    .container-primary{
        width: 750px;
        flex-direction: column;
        background-color: chocolate;
        color: white
    }
}

.card-text{
    font-size: 24px;
}

.container{
    background-color: coral;
}